##
# The following settings control what folders/files are ignored (or not ignored) by Git.
##

# mailchimp-for-wordpress exclude settings.
.DS_Store
.sass-cache/
node_modules/
build/
phpunit.xml
composer.lock

# Exclude everything in /vendor except our autoload stuff
vendor/*
!vendor/composer
!vendor/autoload_52.php
vendor/composer/installers
vendor/composer/installed.json
library/.git

# Exclude Eclipse IDE files.
/.settings
/.buildpath
/.project

# Exclude composer.phar and helper symlink for composer script.
/composer
/composer.phar
